/* --- Admin page --- */

/* --- 
admin.html
_admin_item.html
_admin_user.html 
--- */


/* --- main--- */
main#admin_main {
    display: block;
    height: calc(100% - 4rem);
    overflow: hidden;
    margin-bottom: 3rem;
}

/* --- left sidebar --- */
#dashboard {
    background-color: var(--colorDarkBrown);
    width: 100vw;
    padding: 1rem;
    position: static;
    height: auto;

/* --- header --- */
    h1 {
        text-align: center;
        color: var(--colorBg);
        font-family: var(--fontWritten);
        font-size: var(--fontSizeHeader);
    }

/* --- buttons --- */
    #btn_items,
    #btn_users {
        display: block;
        text-align: center;
        margin-top: 1rem;
        background-color: var(--colorDarkBrown);
        color: var(--colorBg);
        cursor: pointer;
        text-decoration: none;
        font-family: var(--fontMain);
        font-size: var(--fontSizeMobile);
    }
}

/* --- SPA content --- */
#users, #items_admin {
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: calc(100vh - 4rem);
}

/* --- single view item & user --- */
#single_item_admin, #single_user {
  padding: 1rem;
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  margin-bottom: 3rem;
  background-color: var(--colorBg);
}

/* --- single item images--- */
#single_item_admin #admin_item .admin_item_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
#single_item_admin #admin_item .admin_item_row img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  flex-shrink: 0;
}

/* --- more images --- */
#item_more_img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

/* --- single item block user --- */
#single_item_admin #admin_item .block_header {
margin: 0.5rem 0 0 1rem;
}

/* --- single item/user h2 --- */
#single_item_admin #admin_item h2, #single_user #user .header_item_admin {
font-size: var(--fontSizeMobile);
margin: 0.5rem 0 0 0;
text-align: left;
}

/* --- single item info text --- */
#single_item_admin #admin_item .admin_item_row .info_item_admin {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25rem;
  font-family: var(--fontMain);
}

/* --- single item div size --- */
#single_item_admin #admin_item div {
  font-size: var(--fontSizeMobile);
}

/* --- prize --- */
.value {
    font-weight: bold;
}

/* --- item name --- */
.heading_p {
    margin: 0;
    text-align: left;
}

/* --- item/user text --- */
p {
    font-family: var(--fontMain);
    font-size: var(--fontSizeMobile);
}

/* --- item/user status --- */
.user_information, .user_status, .item_status {
    margin: 0 0 1rem 1rem;
}

/* --- buttons --- */
button {
  background-color: var(--colorBrown);
  color: var(--colorBg);
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  font-size: var(--fontSizeMobile);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--fontMain);
  transition: background-color 0.3s ease;
}

/* --- buttons hover --- */
button:hover {
  background-color: var(--colorDarkBrown);
}



/* --- Desktop Styles --- */
@media (min-width: 768px) {
    main#admin_main {
        display: grid;
        grid-template-columns:  20fr 12fr;
        gap: 1rem;
        padding-left: 20vw;
    }

/* --- left sidebar --- */
    #dashboard {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 20vw;
        padding: 0;

/* --- header --- */
        h1 {
            margin-top: 8rem;
        }
    }

/* --- buttons --- */
    #btn_items,
    #btn_users {
        font-size: var(--fontSizeDesktop);

        &:hover {
            text-decoration: underline;
        }
    }

/* --- SPA content --- */
    #items_admin,
    #users {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

/* --- single view item & user --- */
    #single_item_admin, #single_user {
      position: relative;
      z-index: 0;
      width: auto;
      margin-bottom: 0;
    }

/* --- single item images--- */
    #single_item_admin #admin_item {
      display: block;
      width: 100%;
    }

    #single_item_admin #admin_item .admin_item_row {
      display: block;
      width: auto;

      img {
        width: 100%;
        border-radius: 10px;
        gap: 2rem;
      }
    }
    #single_item_admin #admin_item img {
      width: 100%;
      border-radius: 5px;
    }

/* --- single item/user h2 --- */
    #single_item_admin #admin_item h2, #single_user #user .header_item_admin  {
      font-size: var(--fontSizeDesktop);
      margin-left: 1rem;
    }
    #single_item_admin #admin_item, #single_user #user .header_item_admin {
      display: inline-block;
      font-size: var(--fontSizeHeader);
      margin-bottom: 1rem;
    }

/* --- single item info size --- */
    #single_item_admin #admin_item .info_item_admin p,
    #single_item_admin #admin_item .info_item_admin div {
      font-size: var(--fontSizeDesktop);
      margin-left: 1rem;
    }

/* --- more images --- */
    #item_more_img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      margin-top: 1rem;
    }
    #item_more_img img {
      width: 100%;
      border-radius: 5px;
    }

/* --- item/user status --- */
    .user_information, .user_status, .item_status {
    margin: 0 0 2rem 1rem;
    }
}

