@import 'variables.css';

*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin-top: 4rem;
    background-color: var(--colorBg);
}
input, button{
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
}
input{
    border: 1px solid var(--colorDarkBrown);
    border-radius: 10px;
}

/* .grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ml{
    margin-left: auto;
} */


nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--colorLightBrown);
}

nav #nav_right {
    gap: 2rem;
    display: flex;
}

nav a {
    color: var(--colorTxt);
    text-decoration: none;
    font-weight: bold;
}

nav a:last-child {
    margin-left: auto;
}

nav input {
    width: 100%;
    height: 2.5rem;
    padding: 0 5px;
    border-radius: 10px;
}

nav #logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #logo_container img {
    width: 10%;
    height: auto;
}









#search_container {
    position: relative;
    width: 80%;
    margin: 1rem auto;
}

#search_container #input_search {
    width: 100%;
    padding-left: 1rem;
}

#search_container #search_results {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--colorDarkBrown);
    background: white;
    border-radius: 10px;
}

#search_container #search_results .instant-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

#search_container #search_results .instant-item * {
    pointer-events: none;
    text-decoration: none;
}

#search_container #search_results .instant-item img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 100%;
}












main#index_main {
    display: grid;
    /* grid-template-columns: 8fr 10fr 8fr; */
    grid-template-columns: 10fr 12fr 8fr;
    gap: 1rem;
    height: calc(100% - 4rem);
}

main#index_main #items_more {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

main#index_main #items_more #items,
main#index_main #items_more #users {
    display: grid;
    grid-template-columns: 10fr 10fr;
    gap: 0.5rem;
    width: 100%;
}

main#index_main #items_more #items .item,
main#index_main #items_more #items .user,
main#index_main #items_more #users .item,
main#index_main #items_more #users .user {
    padding: 0.2rem;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-decoration: none;
}

main#index_main #items_more #items .item *,
main#index_main #items_more #items .user *,
main#index_main #items_more #users .item *,
main#index_main #items_more #users .user * {
    pointer-events: none;
    color: black;
}

main#index_main #items_more #items .item p,
main#index_main #items_more #items .user p,
main#index_main #items_more #users .item p,
main#index_main #items_more #users .user p {
    font-size: 1.3rem;
}

main#index_main #items_more #items .item div,
main#index_main #items_more #items .user div,
main#index_main #items_more #users .item div,
main#index_main #items_more #users .user div {
    margin-top: 0.5rem;
}

main#index_main #items_more #items .item img,
main#index_main #items_more #items .user img,
main#index_main #items_more #users .item img,
main#index_main #items_more #users .user img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: 5px;
}

main#index_main #items_more #btn_more_items {
    width: 30%;
    margin: auto;
    background-color: var(--colorDarkBrown);
    color: var(--colorBg);
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

main#index_main #right #item p {
    font-size: 1.3rem;
}

main#index_main #right #item div {
    margin-top: 0.5rem;
}

main#index_main #right #item img {
    width: 100%;
}







#map{
    height: 100%;
    z-index: 1;
    position: sticky;
    top: 0;                /* stick to the top of the viewport */
    height: 100vh;
}
.custom-marker {
    width: 50px;
    height: 50px;
    background-color: var(--colorDarkBrown);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: var(--colorBg);
    font-size: 1rem;
    font-family: var(--fontWritten);
}

main#admin_main {
    display: grid;
    grid-template-columns: 10fr 20fr 20fr;
    gap: 1rem;
}

main#admin_main #dashboard {
    background-color: var(--colorDarkBrown);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    width: 20vw;
}

main#admin_main #dashboard h1 {
    margin-top: 8rem;
    text-align: center;
    color: var(--colorBg);
    font-family: var(--fontWritten);
}

main#admin_main #dashboard #btn_items,
main#admin_main #dashboard #btn_users {
    display: block;
    text-align: center;
    margin-top: 2rem;
    background-color: var(--colorDarkBrown);
    color: var(--colorBg);
    cursor: pointer;
    text-decoration: none;
}

main#admin_main #dashboard #btn_items:hover,
main#admin_main #dashboard #btn_users:hover {
    text-decoration: underline;
}

main#admin_main #users {
    display: block;
}

main#admin_main #items_admin,
main#admin_main #users {
    display: grid;
    grid-template-columns: 10fr 10fr;
    gap: 0.5rem;
    width: 100%;
}

main#admin_main #items_admin .item,
main#admin_main #items_admin .user,
main#admin_main #users .item,
main#admin_main #users .user {
    padding: 0.2rem;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-decoration: none;
}

main#admin_main #items_admin .item *,
main#admin_main #items_admin .user *,
main#admin_main #users .item *,
main#admin_main #users .user * {
    pointer-events: none;
    color: black;
}

main#admin_main #items_admin .item p,
main#admin_main #items_admin .user p,
main#admin_main #users .item p,
main#admin_main #users .user p {
    font-size: 1.3rem;
}

main#admin_main #items_admin .item div,
main#admin_main #items_admin .user div,
main#admin_main #users .item div,
main#admin_main #users .user div {
    margin-top: 0.5rem;
}

main#admin_main #items_admin .item img,
main#admin_main #items_admin .user img,
main#admin_main #users .item img,
main#admin_main #users .user img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: 5px;
}

main#admin_main #single_item_admin {
    display: block;
}

main#admin_main #single_item_admin #item p {
    font-size: 1.3rem;
}

main#admin_main #single_item_admin #item div {
    margin-top: 0.5rem;
}

main#admin_main #single_item_admin #item img {
    width: 100%;
}

/* #toast_container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 20rem;         
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;                   
  pointer-events: none;           
  z-index: 99;
}


.toast {
  display: inline-block;            
  max-width: 30px;                
  padding: 0.75rem 1rem;
  background: rgba(0,0,0,0.8);
  color: #bd5a5a;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  pointer-events: auto;             
  word-wrap: break-word;
} */
.ok{
    background: green;
}
.error{
    background: red;
}
.hidden{ 
    display: none !important; 
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--colorGreen);
}


#mix-cover{    
    position: fixed; top:0rem; left:0;
    width: 100vw;
    height: 0.3rem;
    background-color: rgb(6, 182, 212);
    z-index: 20;
}
.mix-hidden{
    display: none !important;
}
.mix-fade-out {
    animation: fadeOut 2s cubic-bezier(0.1, 0, 0.5, 1);
}
.mix-error{
    background-color: rgba(230,130,130, 0.5);
}
@keyframes mix-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

