/* --- Form styles --- */

/* --- 
login.html
signup.html
_forgot_password.html 
_reset_password.html
_user_edit_profile.html
_user_item_form.html
_user_single_item.html
--- */

/* --- overall form container --- */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--colorLightBrown);
  border-radius: 10px;
  margin: var(--marginMobile);
}

/* --- headers --- */
form h2, h4 {
  font-size: 1.5rem;
  color: var(--colorDarkBrown);
  text-align: center;
  font-family: var(--fontWritten);
}

/* --- login form --- */
.log_heading {
    margin-top: 0;
}
.log_main {
    p {
        font-family: var(--fontMain);
    }
}

/* --- labels --- */
form label {
  font-weight: bold;
  font-size: var(--fontSizeMobile);
  color: var(--colorDarkBrown);
  margin-bottom: 0.25rem;
  font-family: var(--fontMain);
}

/* --- input fields --- */
form input[type="text"],
form input[type="number"],
form input[type="file"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--colorDarkBrown);
  border-radius: 8px;
  font-family: var(--fontMain);
  background-color: white;
}

/* --- img input specific styling --- */
form input[type="file"] {
  padding: 0.5rem;
  background-color: var(--colorBg);
  border: 1px dashed var(--colorDarkBrown);
}

/* --- error styling --- */
form input.error {
  border: 1px solid red;
  background-color: #ffb4b4;
}

/* --- inputfield explanation --- */
form p em {
  font-size: var(--fontSizeSmall);
  color: #000000;
    font-family: var(--fontMain);

}

/* --- submit button --- */
form button[type="submit"] {
  background-color: var(--colorBrown);
  color: var(--colorBg);
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  font-size: var(--fontSizeMobile);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--fontMain);
  transition: background-color 0.3s ease;
}

/* --- submit button hover --- */
form button[type="submit"]:hover {
  background-color: var(--colorDarkBrown);
}

/* --- Desktop Styles --- */
@media (min-width: 768px) {

/* --- overall form container --- */
  form {
    max-width: 40rem;
    margin: 2rem auto 4rem auto;
    padding: 2rem;
    gap: 1.5rem;
  }

/* --- headers --- */
  form h2, .log_heading {
    font-size: 2rem;
  }

/* --- labels --- */
  form label {
  font-size: var(--fontSizeDesktop);
  }

/* --- input fields --- */
  form input[type="text"],
  form input[type="number"],
  form input[type="file"],
  form input[type="email"],
  form input[type="password"]
  form button[type="submit"] {
    font-size: var(--fontSizeDesktop);
    padding: 1rem;
  }
}