/* --- User page --- */

/* --- 
profile.html
_user_item_form.html - add new library
_user_your_items.html - center section / item cards
_user_single_item.html - right section / change single item
_user_edit_profile.html -  edit profile
--- */


/* --- main--- */
main#user_main {
    display: block;
    min-height: calc(100% - 4rem);
    padding-bottom: var(--marginMobile);
    margin-bottom: 6rem;
}

/* --- left sidebar --- */
#dashboard {
    background-color: var(--colorDarkBrown);
    width: 100vw;
    padding: 1rem;
    position: static;
    height: auto;

/* --- header --- */
    h1 {
        text-align: center;
        color: var(--colorBg);
        font-family: var(--fontWritten);
        font-size: var(--fontSizeHeader);
    }

/* --- buttons --- */
    #btn_items_form_user,
    #btn_items_user,
    #btn_profile_user {
        display: block;
        text-align: center;
        margin-top: 1rem;
        background-color: var(--colorDarkBrown);
        color: var(--colorBg);
        cursor: pointer;
        text-decoration: none;
        font-family: var(--fontMain);
        font-size: var(--fontSizeMobile);
    }
}

/* --- section - users item cards --- */
#items_user {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    align-content: start;
    align-items: start;
    margin-top: var(--marginMobile);
}

/* --- section - users single item --- */
#single_item_user #item {
    p {
        font-size: 1.2rem;
    }
    div {
        margin-top: 0.5rem;
    }
    img {
        width: 100%;
    }
}

/* --- headers --- */
h2, h3 {
    text-align: center;
    font-family: var(--fontMain);
    margin-top: var(--marginMobile);
    color: var(--colorDarkBrown);
}
h2 {
    font-size: var(--fontSizeHeader);
}
h3 {
    font-size: var(--fontSizeMobile);
}

/* --- no items shown --- */
#no-items {
    p {
        text-align: center;
    }
}



/* --- Desktop Styles --- */
@media (min-width: 768px) {

/* --- main--- */
    main#user_main {
        display: grid;
        grid-template-columns: 10fr 20fr 20fr;
        padding-left: 20vw;
    }

/* --- left sidebar --- */
    #dashboard {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 20vw;
        padding: 0;

/* --- header --- */
        h1 {
                margin-top: 8rem;
            }

/* --- buttons --- */
        #btn_items_form_user,
        #btn_items_user,
        #btn_profile_user {
            font-size: var(--fontSizeDesktop);

/* --- buttons hover --- */
        &:hover {
            text-decoration: underline;
        }
    }
    }

/* --- headers --- */
    h2, h3 {
    text-align: left;
    margin-left: 0.5rem;
}
    h3 {
    font-size: var(--fontSizeDesktop);
}

/* --- SPA content --- */
    #items_form_user, #profile_user {
        grid-column: 2 / 3; 
    }
    #single_item_user {
        margin: 0 2rem;
    }

/* --- dual view styling (items_user og single_item_user) --- */
    .dual-view-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        grid-column: 1 / 4;
    }

/* --- section - users item cards --- */
    #items_user{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin-left: 2rem;

        .item p {
                font-size: 1.3rem;
            }
    }

/* --- no items shown --- */
    #no-items {
            grid-column: 1/4;
            height: 100vh;
            p {
                margin-left: 0.5rem;
                text-align: left;
            }
        }
}
