@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');


:root {

/* --- colors --- */
    --colorBg: #F5F7F2;
    --colorTxt: #1C140D;
    --colorLightBrown: #CEC1B6;
    --colorBrown: #997E67;
    --colorDarkBrown: #664930;

/* --- font sizes --- */
    --fontSizeHeader: 1.6rem;
    --fontSizeDesktop: 1rem;
    --fontSizeMobile: 0.9rem;
    --fontSizeSmall: 0.8rem;

/* --- fonts --- */
    --fontMain: 'Poppins', sans-serif;
    --fontWritten: 'Oooh Baby', cursive;

/* --- spacing --- */
    --marginMobile: 2rem;
    
}