<!-- Forgot Password Form -->

{% include "_header.html" %}
{% include "_nav.html" %}
<main class="log_main">
    <form method="post" action="{{ url_for('post_forgot_password', lan=lan) }}">
        <h2 class="log_heading">{{ translate('reset_password', lan) }}</h2>
        <input type="email" name="user_email" placeholder="Email" class="{{ 'error' if user_email_error else '' }}">
        <button type="submit">{{ translate('send_reset_link', lan) }}</button>
    </form>
</main>
{% include "_footer.html" %}