<div id="item">
    <img src="{{ image_path(item.item_image) }}" alt="{{ item.item_name }}">
    <h2>
        {{ item.item_name }}
    </h2>    
    <!-- <div>
        {{ "{:,}".format(item.item_price)  }} USD
    </div>
    <div>
        {{ "{:,.0f}".format(item.item_price * rates.rates.DKK) }} DKK
    </div>     -->

    <p>
        {{ item.item_address}}
    </p>



    {% if lan == 'en' %}
    <div>
    {{ "{:,}".format(item.item_price) }} USD
    </div>
{% else %}
    <div>
    {{ "{:,.0f}".format(item.item_price * rates.rates.DKK) }} DKK
    </div>
{% endif %}
    <!-- <a href="/items/{{ item.item_pk }}" target="_blank">
        Open in window
    </a> -->
</div>