<!-- Single Item Index page -->

<div id="item">

<!-- Images -->
    {% if item.item_image %}
    <img src="{{ image_path(item.item_image) }}" alt="{{ item.item_name }}">
    {% endif %}

    <div id="item_more_img">
    {% if item.item_image_2 %}
    <img src="{{ image_path(item.item_image_2) }}" alt="{{ item.item_name }}">
    {% endif %}

    {% if item.item_image_3 %}
    <img src="{{ image_path(item.item_image_3) }}" alt="{{ item.item_name }}">
    {% endif %}
</div>

<!-- Item Information -->
<div class="item-info">
    <h2>
        {{ item.item_name }}
    </h2>    
    <p>
        {{ item.item_address}}
    </p>


    {% if lan == 'en' %}
    <div>
    {{ "{:,}".format(item.item_price) }} USD
    </div>
{% else %}
    <div>
    {{ "{:,.0f}".format(item.item_price * rates.rates.DKK) }} DKK
    </div>
{% endif %}
<p><em>{{ translate('based_on', lan) }}</em></p>
</div>
</div>