<nav>

    <div id="logo_container">
        <a href="{{ url_for('index', lan=lan) }}">
            <!-- <img class="logo" src="../static/images/logotest.png" alt="Logotest"> -->
            Vejhylden
        </a>
    </div>



    <div id="nav_right">
    {% if not user %}
        <a href="{{ url_for('login', lan=lan) }}">{{ translate('login', lan) }}</a>

    {% else %}
        {% if user.user_is_admin %}
            <a href="{{ url_for('admin', lan=lan) }}">
                {{ translate('panel_btn', lan) }}
            </a>
        {% else %}
            <a href="{{ url_for('profile', lan=lan) }}">
                {{ translate('profile_btn', lan) }}
            </a>
        {% endif %}

        <a href="{{ url_for('logout', lan=lan) }}">
            {{ translate('logout', lan) }}
        </a>
    {% endif %}
    <div>
        <a href="javascript:void(0)"
        onclick="switchLang('dk')"
        title="Dansk">🇩🇰</a>
        <a href="javascript:void(0)"
        onclick="switchLang('en')"
        title="English">🇬🇧</a>
    </div>
</div>


</nav>
