
<!-- Til at rette i css -->
<!-- <div id="toast_container">
    <div class="toast" id="toast_message">
        {{ translate('toast_ok', lan) }}
    </div>
</div> -->






{% if session.toast_message %}
<div id="toast_container">
    <div class="toast {{ session.toast_status }}" id="toast_message">
        {{ session.toast_message }}
    </div>
</div>


<!-- <script>
    setTimeout(() => {
        const toast = document.getElementById("toast_message");
        if (toast) toast.classList.add("hidden");
    }, {{ session.toast_ttl|default(3000)|int }});
</script> -->

<script>
    const toast = document.getElementById("toast_message");
    if (toast) {
        setTimeout(() => {
            toast.classList.add("hidden");
        }, Number("{{ session.toast_ttl|default(3000)|int }}"));
    }
</script>

{% set _ = session.pop('toast_message', None) %}
{% set _ = session.pop('toast_status', None) %}
{% set _ = session.pop('toast_ttl', None) %}
{% endif %}