
<form
  action="{{ url_for('update_item', item_pk=item.item_pk, lan=lan) }}"
  method="post"
  enctype="multipart/form-data"
>

<h4>{{ translate('info_item', lan) }}</h4>
      <div class="form-group">
        <label for="item_name">{{ translate('name', lan) }}</label>
        <input
          type="text"
          id="item_name"
          name="item_name"
          value="{{ item.item_name }}"
          class="{{ 'error' if item_name_error else '' }}" 
          required
        >
      </div>
  
      <div class="form-group">
        <label for="item_address">{{ translate('address', lan) }}</label>
        <input
          type="text"
          id="item_address"
          name="item_address"
          value="{{ item.item_address }}"
          class="{{ 'error' if item_address_error else '' }}" 
          required
        >
      </div>
  
      <div class="form-group">
        <label for="item_price">{{ translate('price', lan) }}</label>
        <input
          type="number"
          id="item_price"
          name="item_price"
          step="1.00"
          value="{{ item.item_price }}"
          class="{{ 'error' if item_price_error else '' }}" 
          required
        >
        <p><em>{{ translate('based_on', lan) }}</em></p>
      </div>
  
  
      <div class="form-group">
        <label for="file1">{{ translate('image', lan) }}</label>
        <input
          type="file"
          id="file1"
          name="file1"
          accept="image/*"
        >
        {% if item.item_image %}
          <img src="{{ image_path(item.item_image) }}" alt="" style="height:3rem;">
        {% endif %}
      </div>
  
      <div class="form-group">
        <label for="file2">{{ translate('more_images', lan) }}</label>
        <input
          type="file"
          id="file2"
          name="file2"
          accept="image/*"
        >
        <p><em>{{ translate('optional', lan) }}</em></p>
        {% if item.item_image_2 %}
          <img src="{{ image_path(item.item_image_2) }}" alt="" style="height:3rem;">
        {% endif %}
      </div>
  
      <div class="form-group">
        <label for="file3">{{ translate('more_images', lan) }}</label>
        <input
          type="file"
          id="file3"
          name="file3"
          accept="image/*"
        >
        <p><em>{{ translate('optional', lan) }}</em></p>
        {% if item.item_image_3 %}
          <img src="{{ image_path(item.item_image_3) }}" alt="" style="height:3rem;">
        {% endif %}
      </div>
  
      <button type="submit" class="btn">
        {{ translate('save_changes', lan) }}
      </button>

    </form>
