<!-- Index page -->

{% include "_header.html" %}
{% include "_nav.html" %}

<main id="index_main">

    <!-- Map Section -->
    <section id="map"></section>

    <!-- Cards / Center Section -->
    <section id="items_more">
        <div id="search_container">
            <input id="input_search" oninput="search()" class="" type="text" placeholder="{{ translate('search', lan) }}">
            <div id="search_results" class="hidden">
            </div>
        </div>
        <div id="items">
            {% for item in items: %}
                {% include "_card.html" %}
            {% endfor %}
        </div>
        {% include "_btn_more_items.html" %}
    </section>

    <!-- Single item / Right Section -->
    <section id="right">
        {% set item = items[0] %}
        {% include "_item.html" %}
    </section>
</div>
</main>


{% include "_footer.html" %}