{% include "_header.html" %}
{% include "_nav.html" %}

<main>

    <h1>{{ translate('login', lan) }}</h1>

    <form action="{{ url_for('post_login', lan=lan) }}" method="post">
        <input name="user_email" type="email" placeholder="Email" mix-check="{{ x.REGEX_EMAIL }}" required
        >
        <input name="user_password" type="password" placeholder="Password" mix-check="{{ x.REGEX_PASSWORD }}" required
        >
        <button type="submit">{{ translate('login', lan) }}</button>
    </form>

<p>{{ translate('profile', lan) }}</p>
<p>{{ translate('sign_up', lan) }} <a href="/signup">{{ translate('here', lan) }}</a></p>

</main>


{% include "_footer.html" %}