{% include "_header.html" %}
{% include "_nav.html" %}
{% include "_toast.html" %}

<main class="log_main">
  
  <form action="{{ url_for('post_login', lan=lan) }}" method="post">
    <h2 class="log_heading">{{ translate('login', lan) }}</h2>
    {% set old = old_values if old_values is defined else {} %}

    <div class="form-group">
      <input
        name="user_email"
        type="email"
        placeholder="Email"
        required
        mix-check="{{ x.REGEX_EMAIL }}"
        value="{{ old.user_email or '' }}"
        class="{{ 'error' if user_email_error else '' }}"
      >
    </div>

    <div class="form-group">
      <input
        name="user_password"
        type="password"
        placeholder="Password"
        required
        mix-check="{{ x.REGEX_PASSWORD }}"
        class="{{ 'error' if user_password_error else '' }}"
      >
    </div>

    <p>
      {{ translate('forgot_password', lan) }}
      <a href="{{ url_for('forgot_password', lan=lan) }}">
        {{ translate('click_here', lan) }}
      </a>
    </p>
    <button type="submit">{{ translate('login', lan) }}</button>
    <p>{{ translate('profile', lan) }}
      {{ translate('sign_up', lan) }}
      <a href="{{ url_for('signup', lan=lan) }}">{{ translate('here', lan) }}</a>
    </p>
  </form>

</main>

{% include "_footer.html" %}