{% include "_header.html" %}
{% include "_nav.html" %}


<main id="user_main">

    <div id="aside_dash">

        <aside id="dashboard">
            <h1>{{ translate('welcome', lan) }} {{ user.user_username }}</h1>
            {% include "_btn_user.html" %}
        </aside>
    </div>

  <section id="items_form_user">
    {% include "_user_item_form.html" %}
  </section>

  <section id="items_user" class="hidden">
    {% if items %}
      {% for item in items %}
        {% include "_user_your_items.html" %}
      {% endfor %}
    {% else %}
    <div>

        <h2 class="no-items-notice">
          {{ translate('no_items_notice', lan) }}</h2>
              <p>
                  <a href="#" onclick="btn_items_form_user.click()">
                    {{ translate('click_here', lan) }}
                  </a> 
                  {{ translate('to_create', lan) }}
              </p>
    </div>

    {% endif %}
  </section>

  <section id="single_item_user" class="hidden">
    {% if items %}
      {% set item = items[0] %}
      {% include "_user_single_item.html" %}
    {% endif %}
  </section>

  <section id="profile_user" class="hidden">
    {% include "_user_edit_profile.html" %}
  </section>
</main> 


{% include "_footer.html" %}