{% include "_header.html" %}
{% include "_nav.html" %}


<main id="user_main">

    <div id="aside_dash">

        <aside id="dashboard">
            <h1>{{ translate('welcome', lan) }} {{ user.user_username }}</h1>
            {% include "_btn_user.html" %}
        </aside>
    </div>

<section id="items_form_user">
    {% include "_user_item_form.html" %}
</section>


<section id="items_user" class="hidden">
    {% for item in items: %}
        {% include "_user_your_items.html" %}
    {% endfor %}
</section>


<section id="single_item_user" class="hidden">
    {% set item = items[0] if items else None %}    
    {% include "_user_single_item.html" %}
</section>

<section id="profile_user" class="hidden">
    {% include "_user_edit_profile.html" %}
</section>


</main>    


{% include "_footer.html" %}