{% include "_header.html" %}
{% include "_nav.html" %}

<main>

    
    <h1>{{ translate('sign_up', lan) }}</h1>

    <!-- <div id="toast_container"></div> -->

    <form action="{{ url_for('post_signup', lan=lan) }}" method="POST">
        <div>
            <label for="">
                <span>{{ translate('user_name', lan) }}</span>
            </label>
            <input name="user_name" type="text" mix-check="{{ x.USER_NAME_REGEX }}">
        </div> 

        <div>
            <label for="">
                <span>{{ translate('user_lastname', lan) }}</span>
            </label>
            <input name="user_last_name" type="text" mix-check="{{ x.USER_LAST_NAME_REGEX }}">
        </div>

        <div>
            <label for="">
                <span>Email</span>
                <span></span>
            </label>
            <input name="user_email" type="text" mix-check="{{ x.USER_EMAIL_REGEX }}">
        </div>

        <div>
            <label for="">
                <span>{{ translate('user_username', lan) }}</span>
            </label>
            <input name="user_username" type="text" mix-check="{{ x.USER_USERNAME_REGEX }}" placeholder="{{ x.USER_USERNAME_MIN }} {{ translate('to', lan) }} {{ x.USER_USERNAME_MAX }} {{ translate('characters', lan) }}">
        </div>        

        <div>
            <label for="">
                <span>Password</span>
            </label>
            <input name="user_password" type="password" mix-check="{{ x.USER_PASSWORD_REGEX }}" placeholder="{{ x.USER_PASSWORD_MIN }} {{ translate('to', lan) }} {{ x.USER_PASSWORD_MAX }} {{ translate('characters', lan) }}">
        </div>        
        <button type="submit">{{ translate('sign_up', lan) }}</button>
    </form>

</main>


{% include "_footer.html" %}